<!doctype html>
<html>
  <head>
    <title>CrowdSource</title>
  </head>
  <body>
    <h1>New Poll Created!</h1><br /><br />
    <div id='new-poll-admin-link'>Admin Link:<br /><%=adminLink%></div><br />
    <div id='new-poll-voter-link'>Public Voter Link:<br /><%=voterLink%></div><br />
    <script src='/socket.io/socket.io.js'></script>
    <script src='/client.js'></script>
  </body>
</html>
